################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.cr/personal/FavoritesList
/.vs/api-proxy-guardicore/v16
/bin/Debug
/obj/Debug
/bin/Release
/obj/Release
/packages
